/* GLOBAL */

* {
  box-sizing: border-box;
}

.container {
  max-width: 1135px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  font-family: TS-Reg, sans-serif;
}

/* ---------------------------------- */
/* ---------------------------------- */
/* ------------- DISPLAY NONE ------- */
/* ---------------------------------- */
/* ---------------------------------- */

#navigation-header .nav-to-appear {
  display: none;
}

.container .nav-to-appear {
  display: none;
}

#navigation-menu .menu-to-appear {
  display: none;
}

/* ---------------------------------- */
/* ---------------------------------- */
/* ------------- HEADER ------------- */
/* ---------------------------------- */
/* ---------------------------------- */

header {
  height: 60px;
  width: 100%;
  position: sticky;
  border-bottom: 1px solid #e0e0e0;
  top: 0px;
  background-color: white;
  font-family: TS-Reg, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: black;
  font-weight: bold;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

#logo {
  width: 190px;
}

#navigation-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navigation-header > :not(:last-child) {
  margin-right: 10px;
}

#navigation-header div {
  display: flex;
  justify-content: space-between;
  padding: 8px 10px;
  border-radius: 30px;
}

#navigation-header i {
  margin-right: 4px;
}

#navigation-header a {
  text-decoration: none;
  color: black;
}

#navigation-header button {
  background-color: black;
  color: white;
  padding: 0 10px;
  border-radius: 20px;
  border: none;
  margin-left: 5px;
  width: 150px;
  height: 40px;
  font-family: TS-Reg, sans-serif;
  font-size: 16px;
  line-height: 13.3px;
  cursor: pointer;
}

#navigation-header div:hover {
  background-color: #f2f2f2;
}

#navigation-header button:hover {
  background-color: #333;
}

/* ---------------------------------- */
/* ---------------------------------- */
/* ---------------------------------- */
/* ---------------------------------- */

/* ---------------------------------- */
/* ---------------------------------- */
/* ------------- MAIN --------------- */
/* ---------------------------------- */
/* ---------------------------------- */

/* TITRE */

h1 {
  padding-top: 20px;
  font-family: TS-med;
  font-size: 54px;
  line-height: 70px;
  word-spacing: 1.1px;
  font-weight: bold;
}

h1 span {
  color: #ff5d5d;
}

main > p {
  font-size: 14px;
  color: #333;
  margin-bottom: 30px;
}

main p > a {
  color: #333;
  font-family: TS-Reg, sans-serif;
  font-family: TS-Reg, sans-serif;
}

/* ----- */

/* NAVIGATION MENU */

#navigation-menu > nav {
  display: flex;
  gap: 10px;
  padding-bottom: 26px;
}

#navigation-menu > nav div {
  font-family: TS-Med, sans-serif;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
  width: calc((100% - 50px) / 6);
  padding: 12px 15px;
  border: solid black 1px;
  border-radius: 14px;
}

#navigation-menu > nav div:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

/* PICTURES */

.pictures {
  height: 430px;
  display: flex;
}

.pictures img {
  object-fit: cover;
}

.pictures .left-bloc {
  flex: 1;
  margin-right: 2px;
}

.pictures .left-bloc img {
  height: 100%;
  width: 100%;
}

.pictures .right-bloc {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 480px;
}

.pictures .right-bloc img:first-child {
  margin-bottom: 2px;
}

.pictures .right-bloc img {
  height: calc(50% - 1px);
}

/* POSITION */

.position {
  font-family: TS-Reg, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #545454;
  display: flex;
  font-size: 12px;
  line-height: 16px;
  margin: 20px 0 40px;
  justify-content: space-between;
}

.position div i {
  margin: 0 5px;
}

.position span:not(:last-child):hover {
  text-decoration: underline;
  cursor: pointer;
}

/* DESCRIPTION AND MAP */

.description-map {
  display: flex;
  margin-bottom: 80px;
}

.column-left {
  width: 50%;
}

.column-left h2 {
  font-family: TS-Med;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 0.6px;
  font-weight: 900;
  margin-bottom: 30px;
}

.column-left p {
  font-family: Georgia;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
  margin-bottom: 30px;
}

.column-right {
  margin-left: 120px;
  width: calc(50% - 120px);
}

.column-right > div:first-child {
  padding: 32px;
  background-color: #fe5d5d;
  border-radius: 16px 16px 0px 0px;
}

.column-right > div:first-child h3 {
  font-family: TS-Reg;
  font-size: 32px;
  line-height: 40px;
  font-weight: 900px;
  margin-bottom: 40px;
}

.column-right > div:first-child p {
  font-family: TS-Reg;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 24px;
}

.column-right > div:first-child button {
  font-family: TS-Reg;
  color: white;
  font-size: 16px;
  line-height: 20px;
  background-color: black;
  height: 54px;
  width: 154px;
  border: none;
  border-radius: 14px;
}

.column-right > div:first-child button:hover {
  cursor: pointer;
  background-color: #333;
}

.column-right > div:last-child img {
  object-fit: cover;
  height: 190px;
  width: 100%;
  border-radius: 0px 0px 16px 16px;
}

/* SECTION 1 */

.section1 h2 {
  font-family: TS-Med;
  font-size: 28px;
  font-weight: bold;
  line-height: 38px;
  letter-spacing: 0.6px;
  margin-bottom: 30px;
}

.section1 > div {
  display: flex;
}

.section1 .column-1 {
  flex: 1;
}

.section1 .column-1 h4 {
  font-family: TS-Reg;
  font-size: 24px;
  line-height: 38px;
}

.section1 .column-1 > p {
  font-family: Georgia;
  font-size: 18px;
  line-height: 22px;
  margin: 20px 0;
}

.section1 .column-1 > a {
  font-family: TS-Med;
  font-size: 16px;
  line-height: 18px;
  color: #545454;
}

.section1 .column-2 {
  flex: 3;
  display: flex;
  gap: 15px;
  overflow-x: scroll;
}

.carousel-divert {
  width: calc((100% - 30px) / 3);
  flex-shrink: 0;
}

.carousel-divert img {
  width: 256px;
}

.carousel-divert h5 {
  font-family: TS-Med;
  font-size: 18px;
  margin-bottom: 6px;
}

.carousel-divert .rating {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.carousel-divert .rating i {
  color: #04aa6c;
  font-size: 13px;
  margin-right: 2px;
}

.carousel-divert .rating span {
  font-family: TS-Reg;
  font-size: 12px;
  line-height: 14px;
  color: #333333;
}

.carousel-divert p {
  font-family: TS-Reg;
  font-size: 14px;
  line-height: 16.8px;
  color: #333333;
}

/* CAROUSEL */

/* ---------------------------------- */
/* ---------------------------------- */
/* ------------- RESPONSIVE --------- */
/* ---------------------------------- */
/* ---------------------------------- */

/*---------FIRST BREAKPOINT---------*/

@media (max-width: 1184px) {
  .container {
    height: 100%;
    width: 100%;
    margin: 0;
    /* background: lightyellow; */
  }

  /* ----------- MAIN -----------*/

  /* NAVIGATION MENU */

  #navigation-menu > nav {
    display: flex;
    flex-wrap: wrap;
  }

  #navigation-menu .menu-to-appear {
    display: inherit;
  }

  #navigation-menu > nav div {
    width: calc((100% - 30px) / 4);
  }

  /* PICTURES */

  .pictures {
    height: 370px;
  }

  .pictures .right-bloc {
    width: 400px;
  }
}

/* ------------ SECOND BREAKPOINT --------------*/
/* ----------------- */

@media (max-width: 1024px) {
  .container {
    height: 100%;
    width: 100%;
    margin: 0;
    /* background: lightcyan; */
  }

  /*--------- HEADER ----------*/

  #navigation-header span {
    display: none;
  }

  /* ----------- MAIN -------- */

  /* DESCRIPTION AND MAP */

  .description-map {
    display: flex;
    flex-direction: column;
  }

  .description-map .column-left {
    margin-bottom: 60px;
    width: 100%;
  }

  .description-map .column-right {
    margin-left: 0;
    display: flex;
    width: 100%;
  }

  .description-map .column-right > div:first-child {
    width: 50%;
    border-top-right-radius: 0%;
    border-bottom-left-radius: 16px;
  }

  .description-map .column-right > div:last-child {
    width: 50%;
  }

  .description-map .column-right > div:last-child img {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 0px;
    height: 100%;
    object-fit: cover;
  }
}

/*---------- THIRD BREAKPOINT--------------- */

@media (max-width: 768px) {
  .container {
    height: 100%;
    width: 100%;
    margin: 0;
    /* background: lightgreen; */
  }

  /* ----------- HEADER -------*/

  #navigation-header .nav-to-disappear,
  #navigation-header button {
    display: none;
  }

  #navigation-header .nav-to-appear {
    display: contents;
  }

  .container .nav-to-appear {
    display: inherit;
  }

  #logo {
    width: 132px;
  }

  /* ----------- MAIN -----------*/

  /* NAVIGATION MENU */

  #navigation-menu > nav {
    flex-wrap: nowrap;
    overflow: scroll;
  }

  #navigation-menu nav div {
    flex-shrink: 0;
    width: fit-content;
  }
  #navigation-menu nav div span {
    margin-right: 10px;
  }

  /* DESCRIPTION MAP */

  .description-map p {
    font-size: 16px;
    line-height: 20px;
  }

  .description-map .column-right {
    display: flex;
    flex-direction: column;
  }

  .description-map .column-right div:first-child {
    border-top-right-radius: 16px;
    border-bottom-left-radius: 0px;
    width: 100%;
    min-height: 188px;
  }

  .description-map .column-right div:last-child {
    width: 100%;
    min-height: 188px;
  }

  .description-map .column-right div:last-child img {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 16px;
    height: 189px;
  }
}
